/* CSS StyleSheet for Metamorphosis Project: Compx-161-25B, Andrew Graham | 1685046 */

/* Font Details */
/*.saira-<uniquifier> */
h1,
h1 > a,
#homepagenav,
#contentsnav,
#animation {
  font-family: "Saira", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100%;
  font-variation-settings: "wdth" 100;
}
h2,
h2 > a,
.sidenav
/* #homepagenav */
/* #contentsnav  */
/* Sidebar Nav */ {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 100%;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #195026;
  list-style-type: disc;
}
/*.commissioner-<uniquifier> */
p,
p > a,
h3,
li,
li > a {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 100%;
  font-style: normal;
  color: #195026;
}
/* h1 Formatting, and link behaviour: all except index page */
h1 {
  font-size: 5.125em; /* 82/16=5.125em*/
  color: #195026;
}
h1 > :link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}
h1 > :visited {
  color: #195026;
  background-color: transparent;
  text-decoration: none;
}
h1 > :hover {
  color: #44e6a1;
  background-color: transparent;
  text-decoration: underline;
}
/* "About" page Formatting */
.about {
  background-color: #bdd0d0;
}
.about p,
.about h1,
.about h2 {
  max-width: 50em;
  width: 75%;
  margin-left: 14.5%;
  margin-right: 10.5%;
  /* padding: 1em; */
  /* box-sizing: border-box; */
}
.about h2 {
  font-size: 2em;
}
.about p,
.about h4,
.about h4 > a {
  color: #195026;
}
.about li h4 {
  max-width: 50em;
  width: 75%;
  margin-left: 0%;
  margin-right: 10.5%;
}

.about ul {
  max-width: 50em;
  width: 75%;
  margin-left: 14.5%;
  margin-right: 10.5%;
  list-style-type: disc;
  font-size: 1.36em;
  color: #195026;
}
.about li > a {
  color: #195026;
}
/*Formatting for hover and link states: About and Process Journal Page */
#about-linkformatting li a:link,
#critlist li h4 a:link,
#contentsnav li a:link,
p > a:link {
  color: #195026;
  background-color: transparent;
  text-decoration: underline;
  transition: color 0.3s ease;
}
#about-linkformatting li a:visited,
#critlist li h4 a:visited,
#contentsnav li a:visited,
p > a:visited {
  color: #195026;
  background-color: transparent;
  text-decoration: none;
}
#about-linkformatting li a:hover,
#critlist li h4 a:hover,
#contentsnav li a:hover,
p > a:hover {
  color: #44e6a1;
  background-color: transparent;
  text-decoration: underline;
}
iframe {
  width: 75%;
  height: 800px;
  border: none;
  margin-left: 14.5%;
  margin-right: 10.5%;
  max-width: 100%;
  box-sizing: border-box;
}
  /* Media Rules for responsive design */

@media screen and (max-width: 1200px) {
  .about p,
  .about li,
  .about h1,
  .about h2,
  .about h3,
  .about h4 {
    width: 75%;
    margin-left: 14.5%;
    margin-right: 10.5%;
  }
}
@media screen and (max-width: 768px) {
  .about p,
  .about li,
  .about h2,
  .about h3,
  .about h4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .about h1, 
 #imgCover h1  {
    font-size: 3em;
    margin-left:0;
  }
  .about ul {
    margin-left:0;
    font-size: 1em;
  }
  iframe {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

}
/* Index Page Formatting */
/* Index Page Image */
#imgCover {
  background-image: url("../contents/assets-images/homepage-background.jpg");
  background-size: cover;
  height: auto;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
/* Index page Text formatting */
#imgCover h1 {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bdd0d0;
  text-shadow: 2px 2px black;
}
/* Index Page Navigation */
#homepagenav {
  position: absolute;
  top: 78%;
  left: 2.9%;
  color: #bdd0d0;
  list-style-type: none;
  font-size: 2em;
}
#homepagenav li a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}
#homepagenav li a:visited {
  color: #bdd0d0;
  background-color: transparent;
  text-decoration: none;
}
#homepagenav li a:hover {
  color: #44e6a1;
  background-color: transparent;
  text-decoration: underline;
}
/* Contents Page Navigation and Images */
#contents-img {
  background-image: url("../contents/assets-images/contents-background-ed.png");
  /* background-size: cover; */
  height: auto;
  width: 80%;
  margin-left: 20%;
  height: 82vh;
  margin-top: 7%;
  /* background-position: right; */
  background-repeat: no-repeat;
  background-size: contain;
}
.contentsposition h1 {
  position: absolute;
  top: 79%;
  left: 58%;
  transform: translate(-50%, -50%);
}
.contentsposition h2 {
  position: absolute;
  top: 65%;
  left: 3%;
}
.contentsposition ul {
  position: absolute;
  top: 75%;
  left: 1%;
  color: #195026;
  list-style-type: none;
}
.contentsposition h2 {
  font-size: 3em;
  color: #195026;
  /* list-style-type: disc; */
}
#contentsnav li {
  font-size: 2em;
}
/* Body Copy Text Formatting */
.storyheader h1 {
  position: relative;
  margin-left: 25%;
  top: 14%;
}
#chapter-title {
  position: absolute;
  top: 13%;
  font-size: 2em;
  color: #195026;
  margin-left: 25%;
}
#next-chapter h2 > a {
  position: absolute;
  top: 95%;
  font-size: 2em;
}
.bodycopy,
#animation {
  background-color: #bdd0d0;
  font-size: 1.36em; /* 24/16= 1.36 */
  width: 60%;
  margin-left: 25%;
  margin-right: 15%;
  padding: 1em;
}
/* Body Text Navigation */
#next-chapter,
#endpage-nav {
  font-size: 2em;
  margin-left: 25%;
}
#next-chapter a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}
#next-chapter a:visited {
  color: #bdd0d0;
  background-color: transparent;
  text-decoration: none;
}
#next-chapter a:hover {
  color: #44e6a1;
  background-color: transparent;
  text-decoration: underline;
}
#next-chapter a:active {
  color: #bdd0d0;
  background-color: transparent;
  text-decoration: underline;
}
/* BodyCopy-Image Formatting */
#bodycopy-img {
  background-image: url("../contents/assets-images/bodycopy-image.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: -3%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1440px) {
  .bodycopy {
    width: 75%;
    margin-left: 14.5%;
    margin-right: 10.5%;
  }
}
@media screen and (max-width: 768px) {
   .bodycopy {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 400px;
  }
  .sidenav.open {
    width: 100%;
  }
}
/* sidebar navigation module */
/* The side navigation menu */
.sidenav {
  /* display: none; */
  height: 45%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 8%; /* Stay at the top */
  left: 0%;
  background-color: #bdd0d0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 2.5em; /* Place content 40px from the top 40/16=2.5em*/
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav.open {
  width: 12.5%; /* Set the width of the side navigation to 250px */
}
.hamburger-menu {
  font-size: 1.85em; /* 30/16=1.875em */
  cursor: pointer;
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  padding: 0.625em; /* 10px=0.625em, 15px=0.9375em */
  top: 1%;
  left: 1%;
  color: #195026;
}
/* The navigation menu links */
.sidenav a {
  padding: 0.3em 0.3em 0.3em 1.2em; /* 5/16=0.3125em, 6/16=0.375em, 32/16=2em */
  text-decoration: none;
  font-size: 1.5625em; /* 25/16=1.5625em */
  color: #195026;
  display: block;
  transition: 0.7s;
}
.sidenav a:hover {
  color: #44e6a1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10%;
  font-size: 2.25em; /* 36/16=2.25em */
  margin-left: 3.215em; /* 50/16=3.215em */
  cursor: pointer;
}
.sidenav a.active {
  color: #44e6a1;
  background-color: rgba(25, 80, 38, 0.1);
  font-weight: 600;
}
.sidenav a.active:hover {
  color: #195026;
}
