/* CSS StyleSheet for Metamorphosis Project: Compx-161-25B, Andrew Graham | 1685046 */

/* Font Details */
/*.saira-<uniquifier> */
h1,
h1 > a,
#homepagenav,
#contentsnav {
  font-family: "Saira", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100%;
  font-variation-settings: "wdth" 100;
}
h2,
h2 > a,
.sidenav {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 100%;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #195026;
  list-style-type: disc;
}
/*.commissioner-<uniquifier> */
p,
p > a,
h3,
li,
li > a {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 100%;
  font-style: normal;
  color: #195026;
}
/* h1 Formatting, and link behaviour: all except index page */
h1 {
  font-size: 5.125em; /* 82/16=5.125em*/
  color: #195026;
}
h1 > :link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}
h1 > :visited {
  color: #195026;
  background-color: transparent;
  text-decoration: none;
}
h1 > :hover {
  color: #44e6a1;
  background-color: transparent;
  text-decoration: underline;
}
/* "About" page Formatting */
.about,
.about p,
.about li {
  background-color: #bdd0d0;
  line-height: 1.5em;
}
.about p,
.about h1,
.about h2 {
  max-width: 50em;
  width: 75%;
  margin-left: 14.5%;
  margin-right: 10.5%;
  /* padding: 1em; */
  /* box-sizing: border-box; */
}
.about h2 {
  font-size: 2em;
}
.about p,
.about h4,
.about h4 > a {
  color: #195026;
}
.about li h4 {
  max-width: 50em;
  width: 75%;
  margin-left: 0%;
  margin-right: 10.5%;
}

.about ul {
  max-width: 50em;
  width: 75%;
  margin-left: 14.5%;
  margin-right: 10.5%;
  list-style-type: disc;
  font-size: 1.36em;
  color: #195026;
}
.about li > a {
  color: #195026;
}
/*Formatting for hover and link states: About and Process Journal Page */
#about-linkformatting li a:link,
#critlist li h4 a:link,
#contentsnav li a:link,
p > a:link {
  color: #195026;
  background-color: transparent;
  text-decoration: underline;
  transition: color 0.3s ease;
}
#about-linkformatting li a:visited,
#critlist li h4 a:visited,
#contentsnav li a:visited,
p > a:visited {
  color: #195026;
  background-color: transparent;
  text-decoration: none;
}
#about-linkformatting li a:hover,
#critlist li h4 a:hover,
#contentsnav li a:hover,
p > a:hover {
  color: #44e6a1;
  background-color: transparent;
  text-decoration: underline;
}
iframe {
  width: 75%;
  height: 800px;
  border: none;
  margin-left: 14.5%;
  margin-right: 10.5%;
  max-width: 100%;
  box-sizing: border-box;
}
/* Media Rules for responsive design */
@media screen and (max-width: 1300px) {
#h1animation {
  margin-left: 60%;
}
}

@media screen and (max-width: 1200px) {
  .about p,
  .about li,
  .about h1,
  .about h2,
  .about h3,
  .about h4 {
    width: 75%;
    margin-left: 14.5%;
    margin-right: 10.5%;
  }
  #h1animation {
    margin-left: 55%;
    /* margin-top: -60%; */
  }
}
@media screen and (max-width: 1050px) {
  #h1animation {
    margin-left: 55%;
    /* margin-top: -70%; */
  }
   .man-head,
  .man-body,
  .man-limbs,
  .bug-head,
  .bug-body,
  .bug-legs {
    margin-left: 15% !important;
    position: absolute;
    width: 45% !important;
    margin-top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .imgCover h1 {
    font-size: 2.8em;
    margin-top: 10%;
  }
  #homepagenav li {
    display: inline !important;
    font-size: 1em !important;
    padding: 0.8em;
    margin-left: 0%;
  }
  .imgCover ul {
    margin-top: 20%;
  }
  .about p,
  .about li,
  .about h2,
  .about h3,
  .about h4 {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1em;
  }
  .about li h4 {
    font-size: 0.9em;
  }
  .about h1,
  #imgCover h1 {
    font-size: 2.8em;
    margin-left: 2%;
    margin-top: 15%;
  }
  .about ul {
    margin-left: 0;
    font-size: 1em;
  }
  iframe {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 58vh;
  }
  .hamburger-menu {
    margin-top: 0% !important;
    font-size: 1em !important;
    margin-left: 0% !important;
    background-color: #bdd0d0;
    width: 100vw !important;
    position: fixed;
    top: 0;
    left: 0;
  }
  .sidenav.open {
    width: 100% !important;
    max-width: 100% !important;
    background-color: rgba(189, 207, 207, 0.9) !important;
  }
  .contentsposition h1 {
    font-size: 2.8em;
    margin-left: -8% !important;
  }
  #contents-img {
    width: 100% !important;
    margin-left: 0% !important;
    margin-top: 30%;
    height: auto;
  }
  .storyheader {
    margin-left: 0% !important;
    margin-right: 0% !important;
    background-color: #bdd0d0;
  }
  .storyheader h1 {
    font-size: 2.8em !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: 10% !important;
  }
  .storyheader h2 {
    font-size: 1.3em !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
  .storyheader p {
    width: 142%;
    font-size: 0.7em !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .bodycopy {
    width: 100%;
    font-size: 1em;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  .parallax-background-image {
    display: none;
  }
  .next-chapter {
    display: none;
  }
  .animation {
    font-size: 0.8em !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
  .animation h1 {
    font-size: 2.8em !important;
    margin-left: 60% !important;
    margin-top: 10% !important;
  }
  .animation h2 {
    margin-top: 10%;
  }
  .man-head,
  .man-body,
  .man-limbs,
  .bug-head,
  .bug-body,
  .bug-legs {
    margin-left: 20% !important;
    position: absolute;
    width: 60% !important;
    margin-top: 30%;
  }
}
/* Index Page Formatting */
/* Index Page Image */
.imgCover {
  background-image: url("../contents/assets-images/homepage-background.jpg");
  background-size: cover;
  height: auto;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
/* This removes the white margin around the full page image */
body {
  margin: 0;
}
/* Index page Text formatting */
.imgCover h1 {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bdd0d0;
  text-shadow: 2px 2px black;
}
/* Index Page Navigation */
#homepagenav {
  position: absolute;
  top: 78%;
  left: 2.9%;
  color: #bdd0d0;
  list-style-type: none;
  font-size: 2em;
}
#homepagenav li a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}
#homepagenav li a:visited {
  color: #bdd0d0;
  background-color: transparent;
  text-decoration: none;
}
#homepagenav li a:hover {
  color: #44e6a1;
  background-color: transparent;
  text-decoration: underline;
}
/* Contents Page Navigation and Images */
.contentsposition {
  background-color: #bdd0d0;
}
#contents-img {
  background-image: url("../contents/assets-images/contents-background-ed.png");
  height: auto;
  width: 80%;
  margin-left: 20%;
  height: 82vh;
  margin-top: 7%;
  background-repeat: no-repeat;
  background-size: contain;
}
.contentsposition h1 {
  position: absolute;
  top: 79%;
  left: 58%;
  transform: translate(-50%, -50%);
}
#contentsnav li {
  font-size: 2em;
}
/* This section has been removed from the page, so the formatting is not needed, see Process journal for discussion
.contentsposition h2 {
  position: absolute;
  top: 65%;
  left: 3%;
}
.contentsposition ul {
  position: absolute;
  top: 75%;
  left: 1%;
  color: #195026;
  list-style-type: none;
}
.contentsposition h2 {
  font-size: 3em;
  color: #195026;
} */

/* Body Copy Text Formatting */
.storyheader h1 {
  position: relative;
  margin-left: 25%;
  top: 14%;
}
.chapter-title {
  position: relative;
  top: 0.5%;
  font-size: 2em;
  color: #195026;
  margin-left: 25%;
}
.bodycopy {
  background-color: #bdd0d0;
  font-size: 1.36em; /* 24/16= 1.36 */
  width: 61%;
  margin-left: 24%;
  margin-right: 15%;
  padding: 0.5em;
  margin-top: 0;
  padding-top: 0.3em;
  padding-left: 0.8em;
  padding-right: 0;
}
.bodycopy p {
  padding-left: 1em;
  padding-right: 1em;
}
.parallax-container {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}
.parallax-background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-image: url("../contents/assets-images/background-sq.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  will-change: transform;
}
.parallax-foreground-content {
  position: relative;
  z-index: 1;
}

/* Body Text Navigation */
.next-chapter {
  position: relative;
  font-size: 2em;
  margin-left: 25%;
  top: 0%;
  z-index: 10;
}
.next-chapter a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease;
}
.next-chapter a:hover {
  color: #44e6a1;
  background-color: transparent;
  text-decoration: underline;
}
.next-chapter a:active {
  color: #bdd0d0;
  background-color: transparent;
  text-decoration: underline;
}
/* sidebar navigation module */
/* The side navigation menu */
.sidenav {
  height: 55%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 8%;
  left: 0%;
  background-color: #bdd0d0;
  overflow-x: hidden;
  padding-top: 2.5em; /* 40px from the top 40/16=2.5em*/
  transition: 0.7s; /* 0.7 second transition */
}
.sidenav.open {
  width: 12.5%;
  max-width: 15.6em;
}
.hamburger-menu {
  font-size: 1.85em; /* 30/16=1.875em */
  cursor: pointer;
  position: fixed;
  z-index: 10;
  padding: 0.625em; /* 10px=0.625em, 15px=0.9375em */
  top: 1%;
  left: 1%;
  color: #195026;
}
/* The navigation menu links */
.sidenav a {
  padding: 0.3em 0.3em 0.3em 1.2em; /* 5/16=0.3125em, 6/16=0.375em, 32/16=2em */
  text-decoration: none;
  font-size: 1.5625em; /* 25/16=1.5625em */
  color: #195026;
  display: block;
  transition: 0.7s;
}
.sidenav a:hover {
  color: #44e6a1;
}
/* Close button */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10%;
  font-size: 2.25em; /* 36/16=2.25em */
  margin-left: 3.215em; /* 50/16=3.215em */
  cursor: pointer;
  z-index: 10;
}
.sidenav a.active {
  color: #44e6a1;
  background-color: rgba(25, 80, 38, 0.1);
  font-weight: 600;
}
.sidenav a.active:hover {
  color: #195026;
}
/* Animation CSS*/
.animation h1.hiddenh1 {
  margin-top: -65%;
}
.animation h1 {
  position: absolute;
  margin-left: 40%;
  writing-mode: vertical-lr;
  margin-top: 8%;
  padding-bottom: 20%;
  transition: 3s;
}
.animation {
  background-color: #bdd0d0;
  font-size: 1em;
  width: 60%;
  margin-left: 25%;
  margin-right: 15%;
  padding: 1em;
}
.animation h2,
p {
  font-size: 1.36em;
}
#bug-man label {
  font-size: 1em;
  padding: 0.5em 1em;
}
.animation label {
  font-family: "Commissioner", sans-serif;
  font-size: 0.8em;
  color: #195026;
}
.man-head,
.man-body,
.man-limbs,
.bug-head,
.bug-body,
.bug-legs {
  margin-left: 10%;
  position: absolute;
  opacity: 0;
  transition: opacity 4s;
  transition-delay: 3s;
  width: 25%;
}
.show {
  opacity: 1;
}
.animation button {
  background-color: rgba(25, 80, 38, 0.1);
  border: 0.18em solid #195026; /*Computed font-size of this element is 16px (3px/16px= 0.18em) */
  color: #195026;
  font-size: 2em;
  margin-top: 0.8em;
  padding: 0.31em 2em;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}
#roach,
#kafka {
  margin-left: 10%;
  width: 20%;
  height: auto;
}
